<h2>Hello <%=@user.first_name %>,</h2>

<p>Your registration with <%= ApplicationSettings.config['application_name'] %> is complete. Your account has been activated and you can now login.</p>

<p>Thanks for using our application!</p>