<h2>Hello <%= @user.first_name %>,</h2>

<p>Your registration to <%= ApplicationSettings.config['application_name'] %> is almost complete. To activate your account, you need to confirm your email address by visiting the following URL:</p>

<p><strong><a href="<%= @url %>"><%= @url %></a></strong></p>