<div class="page-header">
    <h1>Dashboard</h1>
</div><!-- .page-header -->

<div class="dashboard row">

  <div class="span5">
    <h4>Welcome</h4>
    <p>
      This section of the application is referred to as the dashboard and will contain an overview of important information.
    </p>
  </div>

  <div class="span5">
    <h4>Admin vs. Normal Users</h4>
    <p>
      You are currently logged in as an admin user. This means that you have the capabilities to manage this application. Normal users
      are forbidden from visiting this area.
    </p>
  </div>

  <div class="span6">
    <h4>What Next?</h4>
    <p>
      The content for this page is currently under construction. It will probably contain some kind of news feed, quick links, and statistics about
      your application.
    </p>
  </div>

</div><!-- .dashboard -->