= form_tag login_path, {:class => 'login pull-right form-inline'} do
  = text_field_tag :email, '', {:class => 'input-small', :placeholder => 'email'}
  = password_field_tag :password, '', {:class => 'input-small', :placeholder => 'password'}
  = button_tag 'login', {:type => 'submit', :class => 'btn btn-primary'}
