<h2>Almost Finished! You just need to confirm your account...</h2>

<p>We have sent a confirmation email to <strong><%= @user.email %></strong>. Please check your email and confirm your account by clicking on the confirmation link we sent.</p>