<div id="home" class="home content">


  <% if @current_user %>

    <div class="page-header">
      <h1>Welcome!</h1>
    </div><!-- .page-header -->

    <p>
    This content is only visible if you are logged into the application. Users who do not have accounts will be unable to view this message and will need to either signup, or have an administrator create an account for them.
    </p>
  
  <% else %>

    <div class="page-header">
      <h1>Top Links</h1>
    </div><!-- .page-header -->

  <% end %>


</div><!-- .homepage -->
