<div class="devnews">

<h3>Dev News</h3>

<p>
  Back in action, lots of feature planning happenning now!
</p>

<ul>
  <li><strong>Threaded Comments!</strong> Still some more work, but soon...</li>
  <li><strong>Up Next:</strong> Preview thumbnails and upgraded nav</li>
</ul>

</div><!-- .devnews -->