<div class="devnews">

<h3>Dev News</h3>

<p>
  Work continues and we want to keep you in the loop:
</p>

<ul>
  <li><strong>Added Comments!</strong> Threaded replies and avatars are coming soon...</li>
  <li><strong>Login sessions are now remembered!</strong></li>
  <li><strong>Tagging System Added!</strong></li>
  <li><strong>Up Next:</strong> Preview thumbnails</li>
</ul>

</div><!-- .devnews -->